:root {
  --white-light: #f9f9f9;
  --color-gray: #8e8ea1;
  --color-dark: #22242c;
}

body {
  margin: 0;
  font-family: "Roboto", cursive;
}

/* Header */

.header {
  display: flex;
  column-gap: 8rem;
  align-items: center;
  padding-inline: 2rem;
  border-bottom: 1px solid #eee;
}

.debug {
  border: 3px solid brown;
}

.searchContainer label {
  margin-inline-end: 24px;
}

.header input {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  min-width: 300px;
  border: none;
  outline: none;
  border: 1px solid;
}

/* Header end */

.mainGrid {
  display: grid;
  grid-template-columns: auto 1fr;
}

/* Aside */
aside {
  padding: 5rem;
}
nav h2 {
  margin-block-end: 50px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
nav ul li {
  color: var(--color-gray);
}

nav ul li:hover {
  color: var(--color-dark);
}

/* Aside end */

/* Main */
main {
  background-color: var(--white-light);
  min-height: calc(100vh - 80px);
}
/* Main end */
